body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  background: #f7f7f7;
}

.container {
  max-width: 500px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  margin-top: 10px;
  padding: 10px;
  background: black;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.note {
  background: #eee;
  padding: 10px;
  border-radius: 6px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
